body {
    display: flex;
    min-height: 100vh;
    background-color: #666;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}

.content {
	background-color: #666;
    flex-grow: 1;
    margin-top: 20px;
    height: 100vh;
    width: 100vw;
}

.image {
	background-color: #666;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar-right {
    width: 10%;
    min-width: 200px;
	background-color: #666;
    height: 100vh;
    position: sticky;
    top: 0; 
    overflow-y: auto;
}

.sidebar-right img {
	background-color: #666;
    width: 100%;
    max-width: 100%;
    max-height: calc(100vh - 40px);
    object-fit: contain;
    margin-top: 20px;
}
.sidebar-left {
    display: flex;
    flex-direction: column;
	background-color: #666;
    width: 10%;
    min-width: 200px;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
}
#left {
    background-color: #666;
    width: 100%;
    max-width: 100%;
    max-height: calc(100vh - 40px);
    object-fit: contain;
}
#shortcuts {
    position: absolute;
    bottom: 0;
    left: 0;
    word-wrap: break-word;
    overflow-wrap: break-word; 
    width: 100%; 
    margin-bottom: 30px;
    font-size: small;
}
#cropper {
    margin-top: -30px;
    font-size: 30px;
}
