<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>KottCropper</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='script/cropper.css') }}">
    <script src="{{ url_for('static', filename='script/jquery-3.6.0.min.js') }}"></script>
    <script src="{{ url_for('static', filename='script/cropper.js') }}"></script>
</head>
<body>
    <div class="sidebar-left">
        <div id="cropper">
            <h3>KottCropper</h3>
        </div>
		<div id="left">
            <button id="prev">Prev</button>
            <button id="next">Next</button>
            <button id="crop">Crop</button>
				
			</select>
        <input id="customRatioWidth" type="number" min="1" value="1">
        <input id="customRatioHeight" type="number" min="1" value="1">
    
        <div id="shortcuts">
            <h3>Shortcuts:</h3>
            <p>Right/Left arrow = Previous/Next image</p>
            <p>Up/Down arrow = Flip the aspect ratio</p>
            <p>Enter = Crop current selection</p>
            </div>
        </div>
	</div>

    <div class="content">
        <div class="image">
            {% if images is none %}
                <p>No images available.</p>
            {% else %}
                {% for image in images %}
                    <img class="image-crop" src="/images/{{ image }}">
                {% endfor %}
            {% endif %}
        </div>
    </div>
    <div class="sidebar-right">
        <div id="lastCrops"></div>
    </div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>